<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation=
        "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">      
  
		<!-- 注册jdbc属性文件 方法二需要context约束 -->
		<context:property-placeholder location="classpath:jdbc.properties"/>
        <!-- 注册数据源 (C3P0数据源) 从jdbc.properties中获取属性-->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        	<property name= "driverClass" value="${jdbc.driver}"></property>
        	<property name="jdbcUrl" value="${jdbc.url}"></property>
        	<property name="user" value="${jdbc.username}"></property>
        	<property name="password" value="${jdbc.password}"></property>
        </bean>
       
		<!-- 注册SessionFactory -->
		<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
					<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
					<prop key="hibernate.hbm2ddl.auto">update</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
				</props>
			</property>
			<!-- 配置映射文件所在文件夹 -->
			<property name="mappingResources">
				<list>
					<value>com/feilong/spider/getURL/vo/URL.hbm.xml</value>
				</list>
			</property>
			
		</bean>
        <!-- 注册事务管理器 -->
        <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        <!-- 通知 -->
        <tx:advice id="txAdvice" transaction-manager="transactionManager">
        	<tx:attributes>
        		<tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
        		<tx:method name="remove*" isolation="DEFAULT" propagation="REQUIRED"/>
        		<tx:method name="modify*" isolation="DEFAULT" propagation="REQUIRED"/>
        		<tx:method name="find*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
        	</tx:attributes>
        </tx:advice>
        <!-- 注册Action scope="prototype" 必须指定，多例-->
         <bean id="urlAction" class="com.feilong.spider.getURL.action.URLAction" scope="prototype">
        	<property name="urlService" ref="urlService"/>
        </bean>
        
        <!-- 注册Service -->
        <bean id="urlService" class="com.feilong.spider.getURL.service.URLService">
        	<property  name="urlDao" ref="urlDao"/>
        </bean>
        
		 <!-- 注册DAO -->
        <bean id="urlDao" class="com.feilong.spider.getURL.dao.URLDao">
        	<property name="sessionFactory" ref="sessionFactory"/>
        </bean>
        
        <!-- aop配置 -->
        <aop:config>
        	<aop:pointcut expression="execution(* *..service.*.*(..))" id="mypointcut"/>
        	<aop:advisor advice-ref="txAdvice" pointcut-ref="mypointcut"/>
        </aop:config>
</beans>